<div class="container mt-4">

  <!-- TÍTULO -->
  <h2 class="text-green-custom fw-bold mb-3 text-center bold mt-3">
    Teams List
  </h2>

  <!-- LISTA -->
  <div class="list-group">


    <tr *ngFor="let t of teams()">

    <!-- ITEM EXEMPLO -->
    <div class="list-group-item bg-light border mb-2 rounded">

      <div class="d-flex justify-content-between align-items-center">
        <!-- INFO -->
        <div>
          <h5 class="mb-1 fw-bold">{{t.country}}</h5>

          <small class="text-muted d-block">
            FIFA Code: {{t.fifaCode}}
          </small>

          <small class="text-muted d-block">
            Coach: {{t.coach}}
          </small>

          <small class="text-muted d-block">
            Players: {{t.playerQuantity}}
          </small>
        </div>

        <!-- BOTÕES -->
        <div class="d-flex gap-2">

          <button class="btn btn-sm btn-outline-primary"   [routerLink]="['/teams/edit', t.id]">
            Edit
          </button>

          <button (click)="delete(t)" class="btn btn-sm btn-outline-danger">
            Delete
          </button>

        </div>

      </div>

    </div>

    </tr>


</div>