<div class="container mt-4">

  <!-- TÍTULO -->
  <h2 class="text-green-custom fw-bold mb-3 text-center mt-3">
    Tournaments List
  </h2>

  <!-- LISTA -->
  <div class="list-group">

        <tr *ngFor="let t of tournament()">

    
    <div class="list-group-item bg-light border mb-2 rounded">

      <div class="d-flex justify-content-between align-items-center">
        <!-- INFO -->
        <div>
          <h5 class="mb-1 fw-bold">{{ getTeamName(t.team1Id) }} vs {{ getTeamName(t.team2Id) }} </h5>


          <small class="text-muted d-block">
            {{ t.date | date:'fullDate' }}
          </small>

          <small class="text-muted d-block">
            Location: {{t.location}}
          </small>

          <small class="text-muted d-block">
            Start Time: {{t.time}}
          </small>
        </div>

        <!-- BOTÕES -->
        <div class="d-flex gap-2">

          <button class="btn btn-sm btn-outline-primary"   [routerLink]="['/tournaments/edit', t.id]">
            Edit
          </button>

          <button (click)="delete(t)" class="btn btn-sm btn-outline-danger">
            Delete
          </button>

        </div>

      </div>

    </div>

    </tr>


  </div>
</div>