<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">

    <!-- LOGO -->
    <h2 class="navbar-brand fw-bold text-green-custom" href="#">
      Cup Management
    </h2>

    <!-- LINKS -->
    <ul class="navbar-nav flex-row gap-3">

      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="teams">Teams</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="tournaments">Tournaments</a>
      </li>

    </ul>

    <!-- BOTÕES DIREITA -->
    <div class="d-flex gap-2">

      <a class="btn btn-yellow-custom text-dark" routerLink="teams/new">
        Register Team
      </a>

      <a class="btn btn-green-custom text-white" routerLink="tournaments/new">
        Register Tournament
      </a>

    </div>

  </div>
</nav>